  {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link href='{% static "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" %}' rel='stylesheet'>
  <title>Login &amp; Sign up</title>
</head>

<body  >

  <div class="wrapper " id="loginform">
    <form action="#" method="post">
      <h1>Login</h1>
      <div class="input-box" >
        <input type="text" placeholder="Username" id="username-value">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="password" id="password-value">
        <i class='bx bxs-lock'></i>
      </div>

      <div class="remember-forgot">
        <label for="">
          <input type="checkbox">Remember me
        </label>
        <a href="#">forgot password?</a> 
      </div>

      <button type="submit" class="btn" >Login</button>

      <div class="register-link">
        <p>Don't have an account? <a href="#" onclick="signup();">
          Sign up
        </a></p>
      </div>
    </form>
  </div> 
 
  <div class="wrapper signup-form" id="signform">
    <form action="" id="signupform">
      <h1>Sign up</h1>
      <div class="input-box" >
        <input type="text" placeholder="Username" id="newusername-value">
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="password" id="newpassword-value">
        <i class='bx bxs-lock'></i>
      </div>
      
      <div class="input-box" >
        <input type="text" placeholder="email account" id="email-value">
        <i class='bx bxs-user'></i>
      </div>

      <div class="remember-forgot">
        <label for="">
          <input type="checkbox">Remember me
        </label>
        <a href="#">forgot password?</a>
      </div>

      <button type="submit" class="btn">Sign up</button>

      <div class="register-link">
        <p>Already have an account? <a href="#" onclick="login();">
          Login
        </a></p>
      </div>
    </form>
  </div>


  
  <script src="{% static 'js/credentials.js' %}"></script>
  <script src="{% static 'js/login.js' %}"></script>
  
</body>
</html>
